<div id="custom-alert-modal" class="modal-overlay hidden">
    <div class="modal-content">
        <button class="modal-close-button" onclick="hideCustomAlert()">&times;</button>
        <h3 class="text-xl font-semibold mb-4 text-gray-900">Детали Документа</h3>
        <div id="custom-alert-message" class="text-gray-700"></div>
        <div id="modal-actions" class="mt-6 text-right space-x-3">
            <button onclick="hideCustomAlert()" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Закрыть
            </button>
        </div>
    </div>
</div>