<aside class="bg-gradient-to-br from-gray-800 to-gray-900 text-white flex flex-col p-4 fixed h-full z-50 md:relative md:rounded-r-lg md:shadow-xl" id="sidebar">
    <div class="text-2xl font-bold mb-8 flex items-center justify-between">
        <div class="flex items-center">
            <i class="fas fa-file-alt mr-3 text-blue-400"></i> Документы
        </div>
        <button onclick="toggleSidebar()" class="md:hidden text-white focus:outline-none p-2 rounded-full hover:bg-gray-700">
            <i class="fas fa-times"></i>
        </button>
    </div>
    {% include 'documents/sidebar_nav.html' %}
</aside>